{deps, [
 grisp,
 lasp,
 {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "{{otp_version}}"}
    ]},
    {deploy, [
        {destination, "{{dest}}"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {{{name}}, "0.1.0"}, [{epmd, none}, {{name}}]}
]}.
